<div class="container">
  <h2>Edit Course: {{course.title}}</h2>
  <form action="/courses/edit" method="POST">
    <div class="input-field col s6">
      <input id="title" name="title" type="text" class="validate" required value="{{course.title}}">
      <label for="title">Title</label>
      <span class="helper-text" data-error="Please, add a title"></span>
    </div>
    <div class="input-field col s6">
      <input id="price" name="price" type="number" class="validate" required value="{{course.price}}">
      <label for="price">Price</label>
      <span class="helper-text" data-error="Please, add a price"></span>
    </div>
    <div class="input-field col s6">
      <input id="image" name="image" type="text" class="validate" required value="{{course.image}}">
      <label for="image">Image</label>
      <span class="helper-text" data-error="Please, add an image"></span>
    </div>

    <input type="hidden" name="id" value="{{course.id}}" />

    <button type="submit" class="btn btn-primary">Edit</button>
  </form>
</div>